.brands {
  padding: 72px 0;

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    margin-right: 30px;
    opacity: 0.5%;
    transition: opacity 0.5s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 100%;
    }
  }

  &__img {
    object-fit: contain;
  }
}
