.footer {
  background-color: var(--dark-800);
  padding-top: 30px;
  font-size: 14px;
  color: var(--white);

  &__top {
    padding: 26px 0 28px;
    display: flex;
    justify-content: space-between;
  }

  &__stock {
    max-width: 306px;
    width: 100%;
    margin-right: 132px;
  }

  &__text {
    margin-bottom: 18px;
    line-height: 1;
  }

  &__search {
    display: flex;
  }

  &__search-field {
    max-width: 181px;
    height: 40px;
    width: 100%;
    padding: 12px 13px 12px 12px;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.03em;
    border-radius: 6px 0 0 6px;
    border: transparent;

    &::placeholder {
      color: #4f4f4f;
    }
  }

  &__menu {
    columns: 190px;
    column-count: 3;
  }

  &__item {
    margin-bottom: 18px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__contacts {
    max-width: 215px;
    width: 100%;
  }

  &__contacts-hotline,
  &__contacts-address {
    display: inline-block;
    margin-bottom: 18px;
  }

  &__line {
    border-top: 1px solid var(--white);
    opacity: 10%;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 24px 0;
  }

  &__bottom-copyright {
    text-transform: uppercase;
    font-size: 14px;
  }

  &__bottom-accept {
    display: flex;
  }

  &__bottom-accept-img {
    margin-right: 24px;
  }

  &__bottom-accept-img:last-child {
    margin-right: 0;
  }
}
