.top-products {
  text-align: center;
  padding-top: 72px;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 28px;
    margin-bottom: 18px;
  }

  &__item {
    margin-bottom: 30px;
  }
}

.mix-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 51px;

  &__list {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    font-family: OpenSans, sans-serif;
    font-weight: 700;
    border: transparent;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 15px;
    letter-spacing: 0.03em;
    line-height: 1.4;
    position: relative;
    padding: 0;
  }
}

.mixitup-control-active::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: background-color 0.5s;
}

.mixitup-control-active:focus::after {
  background-color: var(--green-200);
}

.card-product {
  max-width: 300px;
  min-height: 409px;
  padding-top: 56px;
  width: 100%;
  border: solid 1px rgba(17 17 17 / 20%);
  border-radius: 6px;
  position: relative;
  letter-spacing: 0.03em;

  &--mini {
    min-height: 124px;
    border: 1px solid var(--silver-600);
    background-color: var(--white);
    padding-top: 0;
  }

  &__favorites {
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center;
    border: transparent;
    outline: transparent;
    background-color: var(--white);
    position: absolute;
    top: 14px;
    right: 4px;
    border-radius: 3px;
    transition: background-color 0.5s, box-shadow 0.5s;

    &:focus {
      background-color: rgba(255 255 255 / 0.01%);
      box-shadow: 0 0 0 3px var(--green-200);
    }
  }

  &__favorites-svg {
    display: block;
    width: 32px;
    height: 29px;
    fill: var(--silver-600);
    transition: fill 0.5s;
  }

  &__favorites:hover &__favorites-svg {
    fill: var(--yellow-900);
  }

  &__favorites:active &__favorites-svg {
    fill: rgba(255 184 0 / 50%);
  }

  &__link {
    position: relative;
    display: block;

    &--hidden {
      height: 124px;
      position: static;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0 0 0 / 10%);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0%;
      transition: opacity 0.6s;
    }

    &:hover::before {
      opacity: 100%;
    }

    &::after {
      content: "";
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: var(--white);
      top: 50%;
      left: 50%;
      opacity: 0%;
      transition: opacity 0.6s;
      transform: translate(-50%, -50%);
      position: absolute;
      background-position: center center;
    }

    &:hover::after {
      opacity: 100%;
    }
  }

  &__img {
    object-fit: cover;
    padding: 3px;

    &--small {
      padding: 13px 12px 11px;
    }
  }

  &__link-svg {
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--christi);
    position: absolute;
    opacity: 0%;
    z-index: 1;
    transition: opacity 0.6s;
  }

  &__link:hover &__link-svg {
    opacity: 100%;
  }

  &__title {
    text-align: start;
    font-size: 14px;
    padding: 18px 20px 0;
    word-wrap: break-word;
    margin-bottom: 50px;

    &--center {
      text-align: center;
      padding: 0;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 18px 0 21px;
    font-size: 14px;
  }

  &__price-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__cart {
    width: 32px;
    height: 32px;
    background-color: var(--green-900);
    border-radius: 3px;
    border: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    outline: transparent;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;

    &:focus {
      box-shadow: 0 0 0 4px var(--green-200);
    }

    &:hover {
      background-color: #4d800c;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0 0 0 / 25%);
    }
  }

  &__cart-svg {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    fill: var(--white);
  }
}