<section class="brands">
  <div class="container">
    <h2 class="sr-only">Компании-партнеры интернет-магазина Фрешок</h2>
    <ul class="brands__list">
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/sprite.svg" width="80" height="60"
            alt="Наш партнер. Компания Спрайт">
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/dr-pepper.svg" width="80" height="60"
            alt="Наш партнер. Компания Доктор Пеппер">
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/coca-cola.svg" width="80" height="60"
            alt="Наш партнер. Компания Кока-Кола">
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/pepsi.svg" width="80" height="60"
            alt="Наш партнер. Компания Пепси">
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/redbull.svg" width="80" height="60"
            alt="Наш партнер. Компания  Ред Булл">
        </a>
      </li>
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/brands/fanta.svg" width="80" height="60"
            alt="Наш партнер. Компания Фанта">
        </a>
      </li>
    </ul>
  </div>
</section>