<footer class="footer">
  <div class="container">

    <a class="logo" href="#">
      <img class="logo__img" src="images/logo.svg" alt="Логотип">
    </a>
  </div>


  <div class="container">
    <div class="footer__top">
      <div class="footer__stock">
        <p class="footer__text">
          Следите за нашими акциями
        </p>
        <form class="footer__search" action="#">
          <label class="footer__search-inner">
            <input class="footer__search-field" type="email" name="mail" placeholder="email@email.com"
              aria-label="Подписаться на акции.Введите адрес электронной почты" required>
          </label>
          <button class="btn btn--subscribe" type="button">подписаться</button>
        </form>
      </div>

      <nav class="footer__menu">
        <ul class="footer__content">
          <li class="footer__item">
            <a class="footer__link" href="#">О нас</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Контакты</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Публичная оферта</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Оплата и доставка</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Вакансии</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Акции</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Отзывы</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Новости</a>
          </li>
        </ul>
      </nav>

      <address class="footer__contacts">
        <a class="footer__contacts-hotline" href="tel:+7907288365">
          Горячая линия +7 907 288 365
        </a>
        <a class="footer__contacts-address" href="#">
          Санкт-Петербург, ул. Ленина, 1
        </a>

        <ul class="socials">
          <li class="socials__item">
            <a class="socials__link" href="#" target="_blank">
              <svg class="socials__img" aria-label="Перейти на страницу Фейсбук">
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#" target="_blank">
              <svg class="socials__img" aria-label="Смотреть Ютуб канал">
                <use xlink:href="images/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#" target="_blank">
              <svg class="socials__img" aria-label="Перейти на страницу Телеграм">
                <use xlink:href="images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#" target="_blank">
              <svg class="socials__img" aria-label="Перейти на страницу Инстаграм">
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>

  <div class="container">
    <div class="footer__bottom">
      <p class="footer__bottom-copyright">
        &copy;&nbsp;2021 фрешок
      </p>
      <div class="footer__bottom-accept">
        <img class="footer__bottom-accept-img" src="images/icons/visa.svg" width="93" height="29" alt="Виза">
        <img class="footer__bottom-accept-img" src="images/icons/mc.svg" width="49" height="29" alt="Мастеркард">
      </div>
    </div>
  </div>
</footer>