<h1 class="sr-only">Интернет-магазин продуктов "Фрешок"</h1>
<section class="hero">
  <h2 class="sr-only">Акционные товары интернет-магазина Фрешок</h2>
  <ul class="slider">
    <li class="slider__item" style="background-image: url(images/slider/bg1.jpg);">
      <div class="container">
        <div class="slider__content">
          <h3 class="slider__title">
            Свежачок вам в хату
            <span class="slider__stock">
              Скидка -50%
            </span>
          </h3>
          <div class="slider__text">
            <p>
              Только с&nbsp;7&nbsp;по&nbsp;13&nbsp;июля скидка на&nbsp;сезонные фрукты и&nbsp;овощи до&nbsp;50%.
              Торопитесь!
            </p>
          </div>
          <a class="slider__link" href="#">
            Купить сейчас
          </a>
        </div>
      </div>
    </li>

    <li class="slider__item" style="background-image: url(images/slider/bg2.jpg);">
      <div class="container">
        <div class="slider__content">
          <h3 class="slider__title">
            Накрути себе томатов
            <span class="slider__stock">
              Акция: 3 кг по цене 1
            </span>
          </h3>
          <div class="slider__text">
            <p>
              Только с&nbsp;12&nbsp;по&nbsp;15&nbsp;июля скидка на&nbsp;домашние помидорчики
            </p>
          </div>
          <a class="slider__link" href="#">
            Купить сейчас
          </a>
        </div>
      </div>
    </li>

    <li class="slider__item" style="background-image: url(images/slider/bg3.jpg);">
      <div class="container">
        <div class="slider__content">
          <h3 class="slider__title">
            Пусть остальные позеленеют от зависти
            <span class="slider__stock">
              Распродажа зелени
            </span>
          </h3>
          <a class="slider__link" href="#">
            Купить сейчас
          </a>
        </div>
      </div>
    </li>
  </ul>

</section>