<section class="stock">
  <div class="container">
    <h2 class="title">
      Акции
    </h2>

    <ul class="mix-filter">
      <li class="mix-filter__list">
        <button class="mix-filter__btn" type="button" data-filter="all">
          Все товары
        </button>
      </li>
      <li class="mix-filter__list">
        <button class="mix-filter__btn" type="button" data-filter=".category-a">
          Новинки
        </button>
      </li>
      <li class="mix-filter__list">
        <button class="mix-filter__btn" type="button" data-filter=".category-b">
          Хиты
        </button>
      </li>
    </ul>

    <ul class="stock__list">
      <li class="stock__item">

        <article class="card-product card-product--mini">
          <div class="card-product__wrap">

            <span class="badge-green">
              новинка
            </span>

          </div>
          <a class="card-product__link card-product__link--hidden" href="#">

            <h3 class="card-product__title card-product__title--center">
              Ананас, 1кг
            </h3>

            <img class="card-product__img card-product__img--small" src="images/goods/pineapple.jpg" width="100"
              height="100" alt="Ананас">
              <span class="availability">
                В наличии
              </span>
            <div class="card-product__price">
              <span class="price">
                999 ₽
              </span>
              <span class="price price--current">
                1999 ₽
              </span>
            </div>
          </a>
        </article>
      </li>
    </ul>
    <button class="btn" type="submit">Показать еще</button>
  </div>
</section>