<section class="stock">
  <div class="container">
    <h4 class="title">
      Акции
    </h4>

    <ul class="mix-filter">
      <li class="mix-filter__list">
        <button class="mix-filter__btn" type="button" data-filter="all">
          Все товары
        </button>
      </li>
      <li class="mix-filter__list">
        <button class="mix-filter__btn" type="button" data-filter=".category-a">
          Новинки
        </button>
      </li>
      <li class="mix-filter__list">
        <button class="mix-filter__btn" type="button" data-filter=".category-b">
          Хиты
        </button>
      </li>
    </ul>
    <button class="btn" type="submit">Показать еще</button>
  </div>
</section>