<section class="stock" data-ref="stock__list">
  <div class="container">
    <h2 class="title title--margin-bottom">
      Акции
    </h2>



    <ul class="stock__list">
      <li class="stock__item mix novelties">

        <article class="stock-card">
          <div class="stock-card__wrap">

            <span class="stock-card__badge badge badge--green">
              новинка
            </span>

          </div>

          <a class="stock-card__link" href="#">

            <img class="stock-card__img" src="images/goods/pineapple.jpg" width="100" height="100" alt="Ананас">

            <div class="stock-card__content">

              <h3 class="stock-card__title">
                Ананас, 1кг
              </h3>

              <span class="availability">
                В наличии
              </span>

              <div class="stock-card__bottom">

                <div class="stock-card__price">

                  <div class="price price--big">
                    999₽
                  </div>

                  <div class="price price--current price--small">
                    1999 ₽
                  </div>

                </div>

                <div class="rating">
                  4.5
                </div>

              </div>

            </div>
          </a>
        </article>
      </li>
      <li class="stock__item mix novelties">

        <article class="stock-card">
          <div class="stock-card__wrap">

            <span class="stock-card__badge badge badge--green">
              новинка
            </span>

          </div>

          <a class="stock-card__link" href="#">

            <img class="stock-card__img" src="images/goods/coffee.jpg" width="100" height="100"
              alt="Кофе с коноплей органический Caffé Salomoni 250г">

            <div class="stock-card__content">

              <h3 class="stock-card__title">
                Кофе с&nbsp;коноплей органический Caff&eacute; Salomoni 250г
              </h3>

              <span class="availability availability--red">
                заканчивается
              </span>

              <div class="stock-card__bottom">
                <div class="stock-card__price">
                  <span class="price price--big">
                    777₽
                  </span>
                  <span class="price price--current price--small">
                    877 ₽
                  </span>
                </div>
                <div class="rating">
                  4.9
                </div>
              </div>

            </div>
          </a>
        </article>
      </li>
      <li class="stock__item mix novelties">

        <article class="stock-card">
          <div class="stock-card__wrap">

            <span class="stock-card__badge badge badge--green">
              новинка
            </span>

          </div>

          <a class="stock-card__link" href="#">

            <img class="stock-card__img" src="images/stock/strawberry.jpg" width="100" height="100" alt="Клубника">

            <div class="stock-card__content">

              <h3 class="stock-card__title">
                Клубника, 1 кг
              </h3>

              <span class="availability availability--silver">
                нет в наличии
              </span>

              <div class="stock-card__bottom">
                <div class="stock-card__price">
                  <span class="price price--big">
                    440₽
                  </span>
                  <span class="price price--current price--small">
                    600 ₽
                  </span>
                </div>
                <div class="rating">
                  5.0
                </div>
              </div>

            </div>
          </a>
        </article>
      </li>
      <li class="stock__item mix novelties">

        <article class="stock-card">
          <div class="stock-card__wrap">

            <span class="stock-card__badge badge badge--green">
              новинка
            </span>

          </div>

          <a class="stock-card__link" href="#">

            <img class="stock-card__img" src="images/stock/mango.jpg" width="100" height="100" alt="Манго">

            <div class="stock-card__content">

              <h3 class="stock-card__title">
                Манго, 1 шт
              </h3>

              <span class="availability">
                В наличии
              </span>

              <div class="stock-card__bottom">
                <div class="stock-card__price">
                  <span class="price price--big">
                    660₽
                  </span>
                  <span class="price price--current price--small">
                    960 ₽
                  </span>
                </div>
                <div class="rating">
                  5.0
                </div>
              </div>

            </div>
          </a>
        </article>
      </li>
      <li class="stock__item mix novelties">

        <article class="stock-card">
          <div class="stock-card__wrap">

            <span class="stock-card__badge badge badge--green">
              новинка
            </span>

          </div>

          <a class="stock-card__link" href="#">

            <img class="stock-card__img" src="images/stock/salmon.jpg" width="100" height="100" alt="Лосось">

            <div class="stock-card__content">

              <h3 class="stock-card__title">
                Лосось, 1 кг
              </h3>

              <span class="availability">
                В наличии
              </span>

              <div class="stock-card__bottom">
                <div class="stock-card__price">
                  <span class="price price--big">
                    999₽
                  </span>
                  <span class="price price--current price--small">
                    1999 ₽
                  </span>
                </div>
                <div class="rating">
                  4.5
                </div>
              </div>

            </div>
          </a>
        </article>
      </li>
      <li class="stock__item mix hits">

        <article class="stock-card">
          <div class="stock-card__wrap">

            <span class="stock-card__badge badge badge--orange">
              хит
            </span>

          </div>

          <a class="stock-card__link" href="#">

            <img class="stock-card__img" src="images/stock/veg-juice.jpg" width="100" height="100"
              alt="Сок Granini овощной 100%, 0.5л">

            <div class="stock-card__content">

              <h3 class="stock-card__title">
                Сок Granini овощной 100%, 0.5л
              </h3>

              <span class="availability availability--red">
                заканчивается
              </span>

              <div class="stock-card__bottom">
                <div class="stock-card__price">
                  <span class="price price--big">
                    180₽
                  </span>
                  <span class="price price--current price--small">
                    230 ₽
                  </span>
                </div>
                <div class="rating">
                  4.9
                </div>
              </div>

            </div>
          </a>
        </article>
      </li>
      <li class="stock__item mix hits">

        <article class="stock-card">
          <div class="stock-card__wrap">

            <span class="stock-card__badge badge badge--orange">
              хит
            </span>

          </div>

          <a class="stock-card__link" href="#">

            <img class="stock-card__img" src="images/stock/basket.jpg" width="100" height="100" alt="Фруктовая корзина">

            <div class="stock-card__content">

              <h3 class="stock-card__title">
                Фруктовая корзина, 1&nbsp;шт
              </h3>

              <span class="availability">
                В наличии
              </span>

              <div class="stock-card__bottom">
                <div class="stock-card__price">
                  <span class="price price--big">
                    3990₽
                  </span>
                  <span class="price price--current price--small">
                    5990 ₽
                  </span>
                </div>
                <div class="rating">
                  4.8
                </div>
              </div>

            </div>
          </a>
        </article>
      </li>
      <li class="stock__item mix hits">

        <article class="stock-card">
          <div class="stock-card__wrap">

            <span class="stock-card__badge badge badge--orange">
              хит
            </span>

          </div>

          <a class="stock-card__link" href="#">

            <img class="stock-card__img" src="images/stock/pork.jpg" width="100" height="100" alt="Свинина мякоть">

            <div class="stock-card__content">

              <h3 class="stock-card__title">
                Свинина мякоть, 1 кг
              </h3>

              <span class="availability">
                В наличии
              </span>

              <div class="stock-card__bottom">
                <div class="stock-card__price">
                  <span class="price price--big">
                    499₽
                  </span>
                  <span class="price price--current price--small">
                    599₽
                  </span>
                </div>
                <div class="rating">
                  4.6
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>
    </ul>
    <button class="btn--christi btn" type="submit">Показать еще</button>
  </div>
</section>