<section class="top-products">
  <div class="container">
    <h2 class="title">
      Топовые товары
    </h2>

    <ul class="mix-filter">
      <li class="mix-filter__list">
        <button class="mix-filter__btn" type="button" data-filter="all">
          Все товары
        </button>
      </li>
      <li class="mix-filter__list">
        <button class="mix-filter__btn" type="button" data-filter=".category-a">
          Фрукты
        </button>
      </li>
      <li class="mix-filter__list">
        <button class="mix-filter__btn" type="button" data-filter=".category-b">
          Овощи
        </button>
      </li>
      <li class="mix-filter__list">
        <button class="mix-filter__btn" type="button" data-filter=".category-c">
          Напитки
        </button>
      </li>
      <li class="mix-filter__list">
        <button class="mix-filter__btn" type="button" data-filter=".category-d">
          Бакалея
        </button>
      </li>
    </ul>

    <ul class="top-products__list">
      <li class="top-products__item mix category-a">
        <article class="card-product">
          <div class="card-product__wrap">
            <span class="badge-green">
              новинка
            </span>
            <span class="badge-green badge-green--red">
              -50%
            </span>
          </div>

          <button class="card-product__favorites" type="button">
            <svg class="card-product__favorites-svg" aria-label="Добавить в избранное">
              <use xlink:href="images/sprite.svg#favorite-btn"></use>
            </svg>
          </button>

          <a class="card-product__link" href="#">
            <img class="card-product__img" src="images/goods/pineapple.jpg" width="300" height="215" alt="Ананас">
            <svg class="card-product__link-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
          </a>

          <h3 class="card-product__title">
            <a class="card-product__title-link" href="#">
              Ананас, 1кг
            </a>
          </h3>

          <div class="card-product__price">
            <div class="card-product__price-wrapper">
              <span class="price price--current">
                1999&nbsp;₽
              </span>
              <span class="price">
                999&nbsp;₽
              </span>
            </div>

            <button class="card-product__cart" type="button">
              <svg class="card-product__cart-svg" aria-label="Добавить в корзину">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
            </button>

          </div>
        </article>
      </li>

      <li class="top-products__item mix category-a">
        <article class="card-product">
          <div class="card-product__wrap">

            <button class="card-product__favorites" type="button">
              <svg class="card-product__favorites-svg" aria-label="Добавить в избранное">
                <use xlink:href="images/sprite.svg#favorite-btn"></use>
              </svg>
            </button>
          </div>

          <a class="card-product__link" href="#">
            <img class="card-product__img" src="images/goods/lemon.jpg" width="300" height="215" alt="Лимон">
            <svg class="card-product__link-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
          </a>

          <h3 class="card-product__title">
            <a class="card-product__title-link" href="#">
              Лимон, 1кг
            </a>
          </h3>

          <div class="card-product__price">
            <div class="card-product__price-wrapper">
              <span class="price price--current">

              </span>
              <span class="price">
                199&nbsp;₽
              </span>
            </div>

            <button class="card-product__cart" type="button">
              <svg class="card-product__cart-svg" aria-label="Добавить в корзину">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
            </button>

          </div>
        </article>
      </li>
      <li class="top-products__item mix category-a">
        <article class="card-product">
          <div class="card-product__wrap">
            <span class="badge-green badge-green--orange">
              хит
            </span>

            <button class="card-product__favorites" type="button">
              <svg class="card-product__favorites-svg" aria-label="Добавить в избранное">
                <use xlink:href="images/sprite.svg#favorite-btn"></use>
              </svg>
            </button>

          </div>

          <a class="card-product__link" href="#">
            <img class="card-product__img" src="images/goods/dragon-fruit.jpg" width="300" height="215"
              alt="Питахайя красная с белой мякотью">
            <svg class="card-product__link-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
          </a>

          <h3 class="card-product__title">
            <a class="card-product__title-link" href="#">
              Питахайя красная с&nbsp;белой мякотью, 1шт
            </a>
          </h3>

          <div class="card-product__price">
            <div class="card-product__price-wrapper">
              <span class="price price--current">

              </span>
              <span class="price">
                1019&nbsp;₽
              </span>
            </div>

            <button class="card-product__cart" type="button">
              <svg class="card-product__cart-svg" aria-label="Добавить в корзину">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
            </button>

          </div>
        </article>
      </li>
      <li class="top-products__item mix category-d">
        <article class="card-product">
          <div class="card-product__wrap">

            <button class="card-product__favorites" type="button">
              <svg class="card-product__favorites-svg" aria-label="Добавить в избранное">
                <use xlink:href="images/sprite.svg#favorite-btn"></use>
              </svg>
            </button>
          </div>

          <a class="card-product__link" href="#">
            <img class="card-product__img" src="images/goods/ketchup.jpg" width="300" height="215"
              alt="Кетчуп томатный детский органический Bio-Zentrale 500мл">
            <svg class="card-product__link-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
          </a>

          <h3 class="card-product__title">
            <a class="card-product__title-link" href="#">
              Кетчуп томатный детский органический Bio-Zentrale 500мл, 1&nbsp;шт
            </a>
          </h3>

          <div class="card-product__price">
            <div class="card-product__price-wrapper">
              <span class="price price--current">

              </span>
              <span class="price">
                600&nbsp;₽
              </span>
            </div>

            <button class="card-product__cart" type="button">
              <svg class="card-product__cart-svg" aria-label="Добавить в корзину">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>

      <li class="top-products__item mix category-b">
        <article class="card-product">
          <div class="card-product__wrap">
            <span class="badge-green badge-green--orange">
              хит
            </span>

            <button class="card-product__favorites" type="button">
              <svg class="card-product__favorites-svg" aria-label="Добавить в избранное">
                <use xlink:href="images/sprite.svg#favorite-btn"></use>
              </svg>
            </button>
          </div>

          <a class="card-product__link" href="#">
            <img class="card-product__img" src="images/goods/carrot.jpg" width="300" height="215"
              alt="Морковь молодая с бабушкиной грядки">
            <svg class="card-product__link-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
          </a>

          <h3 class="card-product__title">
            <a class="card-product__title-link" href="#">
              Морковь молодая с&nbsp;бабушкиной грядки, 1кг
            </a>
          </h3>

          <div class="card-product__price">
            <div class="card-product__price-wrapper">
              <span class="price price--current">

              </span>
              <span class="price">
                49&nbsp;₽
              </span>
            </div>

            <button class="card-product__cart" type="button">
              <svg class="card-product__cart-svg" aria-label="Добавить в корзину">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="top-products__item mix category-c">
        <article class="card-product">
          <div class="card-product__wrap">
            <span class="badge-green badge-green--discount-top">
              -30%
            </span>

            <button class="card-product__favorites" type="button">
              <svg class="card-product__favorites-svg" aria-label="Добавить в избранное">
                <use xlink:href="images/sprite.svg#favorite-btn"></use>
              </svg>
            </button>
          </div>

          <a class="card-product__link" href="#">
            <img class="card-product__img" src="images/goods/juice.jpg" width="300" height="215"
              alt="Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн">
            <svg class="card-product__link-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
          </a>

          <h3 class="card-product__title">
            <a class="card-product__title-link" href="#">
              Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн
            </a>
          </h3>

          <div class="card-product__price">
            <div class="card-product__price-wrapper">
              <span class="price price--current">
                299&nbsp;₽
              </span>
              <span class="price">
                199&nbsp;₽
              </span>
            </div>

            <button class="card-product__cart" type="button">
              <svg class="card-product__cart-svg" aria-label="Добавить в корзину">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="top-products__item mix category-c">
        <article class="card-product">
          <div class="card-product__wrap">
            <span class="badge-green">
              новинка
            </span>

            <button class="card-product__favorites" type="button">
              <svg class="card-product__favorites-svg" aria-label="Добавить в избранное">
                <use xlink:href="images/sprite.svg#favorite-btn"></use>
              </svg>
            </button>
          </div>

          <a class="card-product__link" href="#">
            <img class="card-product__img" src="images/goods/coffee.jpg" width="300" height="215"
              alt="Кофе с коноплей органический Caffé Salomoni 250г">
            <svg class="card-product__link-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
          </a>

          <h3 class="card-product__title">
            <a class="card-product__title-link" href="#">
              Кофе с&nbsp;коноплей органический Caff&eacute; Salomoni 250г
            </a>
          </h3>

          <div class="card-product__price">
            <div class="card-product__price-wrapper">
              <span class="price price--current">

              </span>
              <span class="price">
                877&nbsp;₽
              </span>
            </div>

            <button class="card-product__cart" type="button">
              <svg class="card-product__cart-svg" aria-label="Добавить в корзину">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
      <li class="top-products__item mix category-b">
        <article class="card-product">
          <div class="card-product__wrap">
            <span class="badge-green">
              новинка
            </span>

            <button class="card-product__favorites" type="button">
              <svg class="card-product__favorites-svg" aria-label="Добавить в избранное">
                <use xlink:href="images/sprite.svg#favorite-btn"></use>
              </svg>
            </button>
          </div>

          <a class="card-product__link" href="#">
            <img class="card-product__img" src="images/goods/paprik.jpg" width="300" height="215" alt="Перец оранжевый">
            <svg class="card-product__link-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
          </a>

          <h3 class="card-product__title">
            <a class="card-product__title-link" href="#">
              Перец оранжевый, 1кг
            </a>
          </h3>

          <div class="card-product__price">
            <div class="card-product__price-wrapper">
              <span class="price price--current">

              </span>
              <span class="price">
                349&nbsp;₽
              </span>
            </div>

            <button class="card-product__cart" type="button">
              <svg class="card-product__cart-svg" aria-label="Добавить в корзину">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
    </ul>

    <button class="btn btn--white" type="button">Показать еще</button>
  </div>
</section>