<section class="top-products">
  <div class="container">
    <h4 class="title top-products__title">
      Топовые товары
    </h4>

    <ul class="mix-filter">
      <li class="mix-filter__list">
        <button class="mix-filter__btn" type="button" data-filter="all">
          Все товары
        </button>
      </li>
      <li class="mix-filter__list">
        <button class="mix-filter__btn" type="button" data-filter=".category-a">
          Фрукты
        </button>
      </li>
      <li class="mix-filter__list">
        <button class="mix-filter__btn" type="button" data-filter=".category-b">
          Овощи
        </button>
      </li>
      <li class="mix-filter__list">
        <button class="mix-filter__btn" type="button" data-filter=".category-c">
          Напитки
        </button>
      </li>
      <li class="mix-filter__list">
        <button class="mix-filter__btn" type="button" data-filter=".category-d">
          Бакалея
        </button>
      </li>
    </ul>

    <ul class="top-products__list">
      <li class="top-products__item mix category-a">
        <article class="card-product">
          <div class="card-product__wrap">
            <span class="badge-green">
              новинка
            </span>
            <span class="badge-green badge-green--red">
              -50%
            </span>
            <button class="card-product__favorites" type="button">
              <svg class="card-product__favorites-svg">
                <use xlink:href="images/sprite.svg#favorite-btn"></use>
              </svg>
              <span class="sr-only">Добавить в избранное</span>
            </button>
          </div>
          <a class="card-product__link" href="#">
            <img class="card-product__img" src="images/goods/pineapple.jpg" width="300" height="215" alt="Ананас">
            <svg class="card-product__link-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <h5 class="card-product__title">
              Ананас, 1кг
            </h5>
          </a>
          <div class="card-product__price">
            <span class="price">
              999 ₽
            </span>
            <span class="price price--current">
              1999 ₽
            </span>
            <button class="card-product__cart" type="button">
              <svg class="card-product__cart-svg">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
              <span class="sr-only">Добавить в корзину</span>
            </button>
          </div>
        </article>
      </li>
      <li class="top-products__item mix category-a">
        <article class="card-product">
          <div class="card-product__wrap">
            <button class="card-product__favorites" type="button">
              <svg class="card-product__favorites-svg">
                <use xlink:href="images/sprite.svg#favorite-btn"></use>
              </svg>
              <span class="sr-only">Добавить в избранное</span>
            </button>
          </div>
          <a class="card-product__link" href="#">
            <img class="card-product__img" src="images/goods/lemon.jpg" width="300" height="215" alt="Лимон">
            <svg class="card-product__link-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <h5 class="card-product__title">
              Лимон, 1кг
            </h5>
          </a>
          <div class="card-product__price">
            <span class="price">
              199 ₽
            </span>
            <button class="card-product__cart" type="button">
              <svg class="card-product__cart-svg">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
              <span class="sr-only">Добавить в корзину</span>
            </button>
          </div>
        </article>
      </li>
      <li class="top-products__item mix category-a">
        <article class="card-product">
          <div class="card-product__wrap">
            <span class="badge-green badge-green--orange">
              хит
            </span>
            <button class="card-product__favorites" type="button">
              <svg class="card-product__favorites-svg">
                <use xlink:href="images/sprite.svg#favorite-btn"></use>
              </svg>
              <span class="sr-only">Добавить в избранное</span>
            </button>
          </div>
          <a class="card-product__link" href="#">
            <img class="card-product__img" src="images/goods/dragon-fruit.jpg" width="300" height="215"
              alt="Питахайя красная с белой мякотью">
            <svg class="card-product__link-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <h5 class="card-product__title">
              Питахайя красная с&nbsp;белой мякотью, 1шт
            </h5>
          </a>
          <div class="card-product__price">
            <span class="price">
              1019 ₽
            </span>
            <button class="card-product__cart" type="button">
              <svg class="card-product__cart-svg">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
              <span class="sr-only">Добавить в корзину</span>
            </button>
          </div>
        </article>
      </li>
      <li class="top-products__item mix category-d">
        <article class="card-product">
          <div class="card-product__wrap">
            <button class="card-product__favorites" type="button">
              <svg class="card-product__favorites-svg">
                <use xlink:href="images/sprite.svg#favorite-btn"></use>
              </svg>
              <span class="sr-only">Добавить в избранное</span>
            </button>
          </div>
          <a class="card-product__link" href="#">
            <img class="card-product__img" src="images/goods/ketchup.jpg" width="300" height="215"
              alt="Кетчуп томатный детский органический Bio-Zentrale 500мл">
            <svg class="card-product__link-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <h5 class="card-product__title">
              Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт
            </h5>
          </a>
          <div class="card-product__price">
            <span class="price">
              600 ₽
            </span>
            <button class="card-product__cart" type="button">
              <svg class="card-product__cart-svg">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
              <span class="sr-only">Добавить в корзину</span>
            </button>
          </div>
        </article>
      </li>
      <li class="top-products__item mix category-b">
        <article class="card-product">
          <div class="card-product__wrap">
            <span class="badge-green badge-green--orange">
              хит
            </span>
            <button class="card-product__favorites" type="button">
              <svg class="card-product__favorites-svg">
                <use xlink:href="images/sprite.svg#favorite-btn"></use>
              </svg>
              <span class="sr-only">Добавить в избранное</span>
            </button>
          </div>
          <a class="card-product__link" href="#">
            <img class="card-product__img" src="images/goods/carrot.jpg" width="300" height="215"
              alt="Морковь молодая с бабушкиной грядки">
            <svg class="card-product__link-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <h5 class="card-product__title">
              Морковь молодая с&nbsp;бабушкиной грядки, 1кг
            </h5>
          </a>
          <div class="card-product__price">
            <span class="price">
              49 ₽
            </span>
            <button class="card-product__cart" type="button">
              <svg class="card-product__cart-svg">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
              <span class="sr-only">Добавить в корзину</span>
            </button>
          </div>
        </article>
      </li>
      <li class="top-products__item mix category-c">
        <article class="card-product">
          <div class="card-product__wrap">
            <span class="badge-green badge--discount-top">
              -30%
            </span>
            <button class="card-product__favorites" type="button">
              <svg class="card-product__favorites-svg">
                <use xlink:href="images/sprite.svg#favorite-btn"></use>
              </svg>
              <span class="sr-only">Добавить в избранное</span>
            </button>
          </div>
          <a class="card-product__link" href="#">
            <img class="card-product__img" src="images/goods/juice.jpg" width="300" height="215"
              alt="Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн">
            <svg class="card-product__link-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <h5 class="card-product__title">
              Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн...
            </h5>
          </a>
          <div class="card-product__price">
            <span class="price">
              299 ₽
            </span>
            <span class="price price--current">
              199 ₽
            </span>
            <button class="card-product__cart" type="button">
              <svg class="card-product__cart-svg">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
              <span class="sr-only">Добавить в корзину</span>
            </button>
          </div>
        </article>
      </li>
      <li class="top-products__item mix category-c">
        <article class="card-product">
          <div class="card-product__wrap">
            <span class="badge-green">
              новинка
            </span>
            <button class="card-product__favorites" type="button">
              <svg class="card-product__favorites-svg">
                <use xlink:href="images/sprite.svg#favorite-btn"></use>
              </svg>
              <span class="sr-only">Добавить в избранное</span>
            </button>
          </div>
          <a class="card-product__link" href="#">
            <img class="card-product__img" src="images/goods/coffee.jpg" width="300" height="215"
              alt="Кофе с коноплей органический Caffé Salomoni 250г">
            <svg class="card-product__link-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <h5 class="card-product__title">
              Кофе с&nbsp;коноплей органический Caff&eacute; Salomoni 250г
            </h5>
          </a>
          <div class="card-product__price">
            <span class="price">
              877 ₽
            </span>
            <button class="card-product__cart" type="button">
              <svg class="card-product__cart-svg">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
              <span class="sr-only">Добавить в корзину</span>
            </button>
          </div>
        </article>
      </li>
      <li class="top-products__item mix category-b">
        <article class="card-product">
          <div class="card-product__wrap">
            <span class="badge-green">
              новинка
            </span>
            <button class="card-product__favorites" type="button">
              <svg class="card-product__favorites-svg">
                <use xlink:href="images/sprite.svg#favorite-btn"></use>
              </svg>
              <span class="sr-only">Добавить в избранное</span>
            </button>
          </div>
          <a class="card-product__link" href="#">
            <img class="card-product__img" src="images/goods/paprik.jpg" width="300" height="215" alt="Перец оранжевый">
            <svg class="card-product__link-svg">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            <h5 class="card-product__title">
              Перец оранжевый, 1кг
            </h5>
          </a>
          <div class="card-product__price">
            <span class="price">
              349 ₽
            </span>
            <button class="card-product__cart" type="button">
              <svg class="card-product__cart-svg">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
              <span class="sr-only">Добавить в корзину</span>
            </button>
          </div>
        </article>
      </li>
    </ul>

    <button class="btn btn--white" type="submit">Показать еще</button>
  </div>
</section>